body,h1 {
    font-family: "Raleway", sans-serif
}
body, html {
    height: 100%
}
.bgimg {
  background-image: url('https://wallpaperaccess.com/full/244510.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  }
.quiz-image-class {
    object-fit: none;

    width: 435px;
    height: 337px;
}

