body,h1 {
    font-family: "Raleway", sans-serif
}
body, html {
    height: 100%;
    background: #FEFFF5
    /* background:  linear-gradient(to bottom right, rgb(177, 177, 177) , rgb(0, 50, 0)); */
}
.bgimg {
  background-image: url('https://wallpaperaccess.com/full/244510.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  }
.quiz-image-class {
    object-fit: none;

    width: 435px;
    height: 337px;
}

.results-image-class {
    object-fit: cover; 

    width: 435px;
    height: 337px;
}

#grad {
    background: linear-gradient(to right, rgb(0, 0, 0) , rgb(110, 110, 110));
  }

  